@{
    ViewBag.Title = "UnassignCourses";
}

<div class="well bs-component">
    <fieldset>
        <legend>Unassign All Courses</legend>
        <span class="success">@ViewBag.SaveMessage</span>
        <span class="error">@ViewBag.ExErrorMessage</span>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <!-- Button trigger modal -->
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Unassign Courses</button>
            </div>
        </div>
    </fieldset>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Warning!</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to unassign all courses?</p>
                </div>
                <div class="modal-footer">
                    <form class="form-horizontal" id="myForm" role="form" method="post">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>